@model IEnumerable<Models.StrapType>

@{
    ViewBag.Title = "Kayış Tipleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kayış Tipleri</h2>

<p>
    @Html.ActionLink("Yeni Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StrapTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StrapTypeName)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.StrapTypeID }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.StrapTypeID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.StrapTypeID })
        </td>
    </tr>
}

</table>
