@model IEnumerable<Models.Color>

@{
    ViewBag.Title = "Renkler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Renkler</h2>

<p>
    @Html.ActionLink("Yeni Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ColorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ColorName)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.ColorID }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.ColorID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.ColorID })
        </td>
    </tr>
}

</table>
